*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.contain{
    max-width: 830px;
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
}

body{
    background-color: #FAFAFA;
}
